{
  "singleQuote": true,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2,
        "printWidth": 120
      }
    }
  ]
}
